<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NTM DEV | Quality Bots">    
    <title data-i18n="titulo-pag">NTM DEV | Bots de Qualidade</title>
    <link rel="stylesheet" href="/site/static/css/index.css">
    <link rel="icon" href="/site/static/images/logo3.png" type="image/png">
</head>
<nav class="navbar">
    <div class="logo"><img src="/site/static/images/logo3.png" alt="Logo NTM DEV"></div>
    <button class="menu-toggle" aria-label="Abrir menu" aria-expanded="false">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </button>
    <ul class="nav-menu">
        <li data-i18n="nav-inicio"><a href="#home">Início</a></li>
        <li data-i18n="nav-bots"=""><a href="#bots">Bots</a></li>
        <li data-i18n="nav-avaliacoes"><a href="#avaliacoes">Avaliações</a></li>
        <li data-i18n="faq"><a href="#faq">Perguntas Frequentes</a></li>
        
        <a onclick="translatorbtn('US')">
            <button class="language-toggle" >🇺🇸 English</button>
        </a>
        <div class="dropdown">
            <button class="dropdown-btn">
                <div class="user-info">
                    <img src="{{ avatar_url }}" alt="Avatar" width="30" height="30">
                    <span class="username">{{ username }}</span>
                </div>
            </button>
            <div class="dropdown-content">
                <a onclick="logout()">Sair</a>
            </div>
        </div>
    </ul>
</nav>
<body>
<section id="home" class="hero-section">
    <div class="hero-content">
        <h4 class="subtitle" data-i18n="title-1">Pelos criadores da NTM DEV</h4>
        <h1 class="title" data-i18n="title-2">Tenha seu BOT em<br> tempo recorde.</h1>
        <p class="description" data-i18n="title-3">
                Bots para Discord projetados e habilmente elaborados, criados pelos criadores da NTM DEV. 
                A equipa perfeita para desenvolver o teu BOT.
        </p>
    </div>
</section>
<!-- Pricing Section -->
<section class="pricing-section" id="bots">
    <div class="container">
        <h2 class="section-title" data-i18n="price-title">Descubra nossos BOTs</h2>
        <p class="section-subtitle" data-i18n="price-description">
            Abaixo podes ver os nossos planos e escolher o que melhor se adapta às tuas necessidades.
        </p>

        <div class="pricing-cards">
            <!-- Card 1 -->
            <div class="pricing-card">
                <h3 class="plan-title" data-i18n="nome-price-1">SUGESTÃO</h3>
                <p class="plan-price" data-i18n="price-price-1">1€ <span>/mês *</span></p>
                <p class="plan-description" data-i18n="description-price-1">
                    Ideal para gerenciar sugestões de forma eficiente e organizada, facilitando a tomada de decisões.
                </p>
                <ul class="plan-features">
                    <li data-i18n="plan-1">Notificações automáticas de novas sugestões</li>
                    <li data-i18n="plan-2">Integração com canais do Discord para gerenciamento direto</li>
                    <li data-i18n="plan-3">Recebe e armazena as sugestões em tempo real</li>
                </ul>
                <a href="#" class="btn-primary" id="btn-sell" data-i18n="botao-sell">Comprar</a>
            </div>
            

            <!-- Card 2 -->
            <div class="pricing-card popular">
                <span class="badge" data-i18n="popular">Mais Popular</span>
                <h3 class="plan-title" data-i18n="nome-price-2">COMANDOS PERSONALIZADOS</h3>
                <p class="plan-price" data-i18n="price-price-2">3€ <span>/mês *</span></p>
                <p class="plan-description" data-i18n="description-price-2">
                    Para quem deseja criar comandos personalizados exclusivos, oferecendo mais controle e flexibilidade ao servidor.
                </p>
                <ul class="plan-features">
                    <li data-i18n="plan-4">Resposta automática com conteúdo dinâmico</li>
                    <li data-i18n="plan-5">Integração com variáveis para personalização avançada</li>
                    <li data-i18n="plan-6">Controle de permissões para diferentes cargos</li>
                </ul>
                <a href="#" class="btn-primary" id="btn-sell" data-i18n="botao-sell">Comprar</a>
            </div>

            <!-- Card 3 -->
            <div class="pricing-card">
                <h3 class="plan-title" data-i18n="nome-price-3">ANTI-LINKS</h3>
                <p class="plan-price" data-i18n="price-price-3">2€ <span>/mês *</span></p>
                <p class="plan-description" data-i18n="description-price-3">
                    Proteje o teu servidor contra links indesejados e potencialmente perigosos, mantendo a segurança e a integridade do teu espaço.
                </p>
                <ul class="plan-features">
                    <li data-i18n="plan-7">Bloqueio automático de links maliciosos</li>
                    <li data-i18n="plan-8">Notificação ao administrador sobre links removidos</li>
                    <li data-i18n="plan-9">Integração com logs para auditoria completa</li>
                </ul>
                <a href="#" class="btn-primary" id="btn-sell" data-i18n="botao-sell">Comprar</a>
            </div>
        </div>
    </div>
</section>
<!-- Reviews Section -->
<section class="reviews-section" id="avaliacoes">
    <div class="container">
        <h2 class="section-title" data-i18n="review-title">Veja as nossas avaliações</h2>
        <p class="section-subtitle" data-i18n="review-description">
            Abaixo você pode conferir as reviews de alguns dos nossos clientes.
        </p>

        <div class="reviews-carousel">
            <!-- Review 1 -->
            <div class="review-card">
                <img src="https://cdn.discordapp.com/avatars/1308522364727853096/a4d82f060e1a342c8f737338d2403fea.png" alt="Foto do Cliente" class="review-avatar">
                <h3 class="review-name">+SHOP</h3>
                <p class="review-text" data-i18n="review-1">
                    "Não tenho palavras para expressar minha satisfação com o trabalho realizado! Agradeço imensamente pelo excelente serviço prestado. Qualidade excepcional e atendimento de altíssimo nível!"
                </p>
            </div>

            <!-- Review 2 -->
            <div class="review-card">
                <img src="/site/static/images/default_logo.png" alt="Foto do Cliente" class="review-avatar">
                <h3 class="review-name">Smurf_Verde</h3>
                <p class="review-text" data-i18n="review-2">
                    "O bot desenvolvido superou todas as minhas expectativas! Responde de forma ágil e foi criado com todas as funcionalidades desejadas. Atendimento excepcional!"
                </p>
            </div>

            <!-- Review 3 -->
            <div class="review-card">
                <img src="https://cdn.discordapp.com/avatars/1150087342695129108/a402dcb5f5509f5548cdb150f9b3b61e.png" alt="Foto do Cliente" class="review-avatar">
                <h3 class="review-name">kazzM</h3>
                <p class="review-text" data-i18n="review-3">
                    "O bot está excelente, com uma configuração impecável e design clean. Atendimento atencioso e prestativo. Recomendo com certeza!"
                </p>
            </div>

            <!-- Review 4 -->
            <div class="review-card">
                <img src="https://cdn.discordapp.com/avatars/821714952766488578/0fb8f315928f2d184b3e284eabf997e8.png" alt="Foto do Cliente" class="review-avatar">
                <h3 class="review-name">Igris</h3>
                <p class="review-text" data-i18n="review-4">
                    "Resultado é impecável. Pode comprar sem medo!"
                </p>
            </div>
        </div>
    </div>
</section>
<!-- FAQ Section -->
<section class="faq-section" id="faq">
    <div class="container">
        <h2 class="section-title" data-i18n="faq-title">Você tem alguma pergunta?</h2>
        <p class="section-subtitle" data-i18n="faq-description">
            Abaixo, você pode ver as perguntas mais frequentes.
        </p>

        <div class="faq">
            <!-- FAQ Item 1 -->
            <div class="faq-item">
                <button class="faq-question" data-i18n="faq-1">
                    Como posso comprar um bot para o Discord?
                    <span class="faq-icon">+</span>
                </button>
                <div class="faq-answer" data-i18n="faq-des-1">
                    <p>
                        A compra pode ser feita diretamente através de nosso Discord. Basta selecionar o bot desejado, abrir um TICKET, informar seu pedido e seguir as instruções!
                    </p>
                </div>
            </div>

            <!-- FAQ Item 2 -->
            <div class="faq-item">
                <button class="faq-question" data-i18n="faq-2">
                    É possível solicitar reembolso após a compra?
                    <span class="faq-icon">+</span>
                </button>
                <div class="faq-answer" data-i18n="faq-des-2">
                    <p>
                        Não oferecemos reembolso após a compra, mas garantimos suporte completo para resolver qualquer problema que você possa encontrar.
                    </p>
                </div>
            </div>

            <!-- FAQ Item 3 -->
            <div class="faq-item">
                <button class="faq-question" data-i18n="faq-3">
                    Posso revender ou distribuir os bots adquiridos?
                    <span class="faq-icon">+</span>
                </button>
                <div class="faq-answer" data-i18n="faq-des-3">
                    <p>
                        Não é permitido revender ou distribuir os bots adquiridos, conforme os termos de uso acordados.
                    </p>
                </div>
            </div>

            <!-- FAQ Item 4 -->
            <div class="faq-item">
                <button class="faq-question" data-i18n="faq-4">
                    Qual é o prazo para manter o orçamento e o valor pago?
                    <span class="faq-icon">+</span>
                </button>
                <div class="faq-answer" data-i18n="faq-des-4">
                    <p>
                        O orçamento e o valor pago permanecem válidos por 7 dias úteis a partir da data de aprovação.
                    </p>
                </div>
            </div>

            <!-- FAQ Item 5 -->
            <div class="faq-item">
                <button class="faq-question" data-i18n="faq-5">
                    Quais são os direitos autorais sobre os bots adquiridos?
                    <span class="faq-icon">+</span>
                </button>
                <div class="faq-answer" data-i18n="faq-des-5">
                    <p>
                        Os direitos autorais são reservados ao desenvolvedor, mas você terá uma licença de uso total conforme os termos do contrato.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <p>
      &copy; 2024 NTM DEV. All rights reserved.
    </p>
</footer>
<script src="/site/static/js/index-PT.js"></script>
<script src="https://unpkg.com/i18next/i18next.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
$("a").on('click', function(event) {

    if (this.hash !== "") {
        event.preventDefault();

        var hash = this.hash;

    $('html, body').animate({
        scrollTop: $(hash).offset().top
        }, 800, function(){
   
        window.location.hash = hash;
            });
        }
    });
});
function translatorbtn(language) {
    window.location.href = "/change_language?lang=" + language;
}
</script>
</body>
</html>
